<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.yueeng.moebooru">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.github.yueeng.moebooru.${host}.LIST" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${host}"
                    android:path="/post"
                    android:scheme="http" />
                <data
                    android:host="${host}"
                    android:path="/post"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".PreviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.github.yueeng.moebooru.${host}.PREVIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/app_host"
                    android:pathPrefix="/post/show/"
                    android:scheme="http" />
                <data
                    android:host="@string/app_host"
                    android:pathPrefix="/post/show/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".QueryActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".StarActivity" />
        <activity android:name=".PopularActivity" />
        <activity
            android:name=".SimilarActivity"
            android:label="@string/app_similar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_settings" />
        <activity android:name="com.yalantis.ucrop.UCropActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>